<%= form_for [@course, @cthread, @question] do |c| %>
  <% if @cthread.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cthread.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @cthread.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= c.label :heading %><br>
    <%= c.text_field :heading %>
  </p>
  
  <p>
    <%= c.label :statement %><br>
    <%= c.text_field :statement %>
  </p>
 
  <p>
    <%= c.label :posted_by %><br>
    <%= c.text_field :posted_by %>
  </p>

  <p>
    <%= c.submit %>
  </p>
  
<% end %>