
<% @questions.each do |question| %>
    <h2> <%= question.heading %></h2>

    <h3> <%= question.statement %></h3>

    <p> Posted by: <%= question.posted_by %></p>

    <p><%= link_to 'Delete', course_cthreads_path(@course, @cthread), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<br />
<%= link_to 'Respond', new_course_cthread_path %>
<br />
<%= link_to "Back to #{@course.title}", course_path(@course) %>