<div>
    <h1><%= @course.title %>, <%= @cthread.title %></h1>
    <h2>Questions</h2>
    
    <% if @questions.nil? %>
        <p><%= print "no data found" %></p>
    <% else %>
        <% @questions.each do |question| %>
            <h2 style="display:inline;"> <%= question.heading %> </h2> 
                <%= link_to 'edit', edit_course_cthread_question_path(@course, @cthread, question.id) %>
                <%= link_to 'delete', course_cthread_question_path(@course, @cthread, question.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            <br />
            <h3> <%= question.statement %></h3>

            <p> Posted by: <%= question.posted_by %></p>
        <% end %>
    <% end %>
</div>

<br />
<%= link_to 'New question', new_course_cthread_question_path(@course, @cthread) %>
<br />
<%= link_to 'Back', course_path(@course.id) %>