<div>
    <h1><%= @course.title %> - <%= @course.cnum %></h1>
    <p><%= @course.term %>, starts on <%= @course.start_date %></p>
</div>

<%= link_to 'View threads', course_cthreads_path(@course.id) %>

<br /><br /><br />
<%= link_to 'Back', courses_path %>